/* .header{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

.logo-container img{
    border-radius: 20px;
    width: 100px;
    padding:5px;
    margin-left:10px;
}
.nav-items ul{
    display: flex;
}
.nav-items ul li{
    list-style-type: none;
    margin: 10px;
    font-size: 25px;
}
.nav-items ul li:hover{
    text-decoration: underline;
}
.body{
    margin-left: 50px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    width: 180px;
    margin: 5px;
    color: black;
}
.res-card img{
    width:100%;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
}
.details{
    margin-top: -20px;
}
.login{
    padding: 4px 15px;
    cursor: pointer;
    margin-right: 10px;
}
.filter{
    margin: 10px;
    display: flex;
}
.filter button{
    margin-left: 10px;
}
.filter button:hover{
    cursor: pointer;
}
.search{
    margin-left: 30%;
}

.shimmer-container{
    display:flex;
    flex-wrap: wrap;
}
.shimmer-card{
    margin:20px;
    width:200px;
    height:400px;
    background-color: #f0f0f0;
}
.items {
    width: 95%; 
    overflow-x: auto;
}

.items-img {
    display: flex; 
    flex-wrap: nowrap; 
    gap: 10px; 
}
.items-img > div {
    flex: 0 0 auto; 
}
.items-img img {
    width: 180px; 
    height: auto;
    display: block; 
    cursor: pointer;
}
.user-card{
    padding:10px;
    border: 1px solid black;
    margin-top: 10px;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;